body {
    text-align: right;
}

.navbar-nav {
    padding-right: 0;
}

.form-check {
    padding-right: 1.25rem;
    padding-left: 0;
}

.form-check-input {
    margin-right: -1.25rem;
    margin-left: 0;
}

.alert-dismissible {
    padding-right: 1rem;
    padding-left: 4rem;
}

.alert-dismissible .btn-close {
    left: 0;
    right: auto;
}